boto==2.45.0
boto3==1.4.4
botocore==1.5.13
Bottleneck==1.2.0
brewer2mpl==1.4.1
Flask==0.12
Flask-Cors==3.0.2
numpy==1.11.3
numpydoc==0.6.0
pandas==0.19.2
pathlib2==2.2.0
pickleshare==0.7.4
redis==2.10.5
requests==2.12.4
scipy==0.18.1
sklearn==0.0
virtualenv==15.1.0
