<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prefer</title>
    <!-- Include meta tag to ensure proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include the jQuery library -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Include the jQuery Mobile library -->
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript"  src="/static/scripts/swipe.js"></script>
</head>
<body>
    <h1>What is your preference?</h1>
    <h3 id="product-name">{{product_name}}</h3>
    <img id="product-img" src="{{product_image}}" style="height:400px;">
    <p class="preference-button" id="like-button">Like</p>
    <p class="preference-button" id="dislike-button">Dislike</p>
    <p style="visibility: hidden" id="product-id">{{product_id}}</p>
</body>
</html>