<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Prefer</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/normalize.css">

</head>
<body>
    <div class="container">
        <div class="row u-center" id="welcome-header">
            <h1>welcome to prefer</h1>
        </div>
    </div>
    <div class="container" id="user-form-container">
        <div class="row">
            {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}
            <form action="/post-signup" method=post enctype=multipart/form-data>
                <div class="row u-small-padding">
                    <label user-form->Name:</label>
                    <input type="text" name="name" class="u-full-width">
                </div>
                <div class="row u-small-padding">
                    <label user-form-input>Gender:</label>
                    <select class="u-full-width" name="gender">
                        <option selected="selected">Other</option>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                </div>
                <div class="row u-small-padding">
                    <label user-form-input>Age:</label>
                    <input type="text" name="age" class="u-full-width">
                </div>
                <div class="row u-small-padding">
                    <label user-form->Username:</label>
                    <input type="text" name="username" class="u-full-width">
                </div>
                <div class="row u-small-padding u-center">
                    <input id="user-form-submit" class="button-primary" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>